@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-image: url('../images/bg-header-desktop.png');
  background-repeat: no-repeat;
  background-size: contain;
}

@media(max-width: 576px) {
  body {
    background-image: url('../images/bg-header-mobile.png')
  }
}